<div class="wrapper shadow">
  <div *ngIf="error$ | async as error" style="color: darkred">
    {{error}}
  </div>

  <div *ngIf="!chatClient" class="mx-auto p-5" style="width: 500px;">
    <h2>Velkommen til chatten!
      <span class="wave">👋</span>
    </h2>
    <br/>
    <div class="form-group">
      <label for="exampleInputEmail1">Hvad vil du hedde?</label>
      <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Indtast navn" [formControl]="nicknameFc">
      <button class="btn btn-primary mt-3" (click)="sendNickname()">Luk mig ind</button>
    </div>
  </div>

  <div *ngIf="chatClient" id="sidepanel">
    <div id="profile" class="mt-4 ml-3 mb-2">
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="" />
      {{chatClient.nickname}}
      <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    </div>

    <div *ngIf="clients$ | async as clients" id="contacts">
      <ul>
        <li *ngFor="let client of clients; let i = index" class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar{{(i%7)+2}}.png" alt="" />
            {{client.nickname}}
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar6.png" alt="" />
          Bart
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="" />
          Ned Flanders
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar4.png" alt="" />
          Homer
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="" />
          Lisa
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar2.png" alt="" />
          Marge
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar6.png" alt="" />
          Millhouse
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="" />
          Moe
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="chatClient" id="content-wrapper">

    <div id="content">
      <div class="text-center" style="color: #AAA">{{ currentDate | date: 'EEEE d. MMMM y' }}</div>

      <div *ngFor="let message of messages">
        <div class="media message" [ngClass]="{'right': chatClient.nickname === message.sender.nickname}">
          <img *ngIf="chatClient.nickname !== message.sender.nickname" src="https://www.w3schools.com/bootstrap4/img_avatar2.png">
          <div>
            <b>{{message.sender.nickname}}</b><small>{{message.sent | date: 'HH:mm'}}</small><br>
            <span>{{message.message}}</span><br>
          </div>
          <img *ngIf="chatClient.nickname === message.sender.nickname" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
        </div>
        <div class="clearfix"></div>
      </div>


      <div class="clearfix"></div>

      <div *ngIf="clientsTyping.length === 0" class="typing">&nbsp;</div>
      <div *ngIf="clientsTyping.length === 1" class="typing">
        <span *ngFor="let client of clientsTyping">
          {{client.nickname}}
        </span>
        skriver en besked
      </div>
      <div *ngIf="clientsTyping.length === 2" class="typing">
        <span *ngFor="let client of clientsTyping; let i = index">
          {{client.nickname}}{{i === clientsTyping.length - 1 ? '' : ' og '}}
        </span>
        skriver en besked
      </div>
      <div *ngIf="clientsTyping.length > 2">
        <span *ngFor="let client of clientsTyping; let i = index" class="typing">
          <span *ngIf="i < 2">{{client.nickname}}{{i < 1 ? ', ' : ''}}</span>
        </span>
        og {{clientsTyping.length - 2}} {{clientsTyping.length - 2 === 1 ? "anden" : "andre"}} skriver en besked
      </div>
    </div>
    <div class="row pl-4 pt-1 pr-1">
      <div class="input-group">
        <input type="text" [formControl]="messageFc" class="form-control form-control-lg" placeholder="Indtast en besked">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelection($event)">😄</button>
          <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
