<div class="row wrapper shadow">
  <div *ngIf="error$ | async as error" style="color: darkred">
    {{error}}
  </div>

  <div *ngIf="!chatClient" class="mx-auto p-5">
    <h2>Velkommen til chatten!
      <img style="width: 42px;" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/samsung/265/waving-hand_1f44b.png">
    </h2>
    <br/>
    <div class="form-group">
      <label for="exampleInputEmail1">Hvad vil du hedde i dag?</label>
      <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Indtast navn" [formControl]="nicknameFc">
      <br/>
      <button class="btn btn-primary" (click)="sendNickname()">Luk mig ind</button>
    </div>
  </div>

  <div *ngIf="chatClient" id="sidepanel">
    <div id="profile" class="mt-4 ml-3 mb-2">
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="" />
      {{chatClient.nickname}}
      <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
    </div>

    <div *ngIf="clients$ | async as clients" id="contacts">
      <ul>
        <li *ngFor="let client of clients; let i = index" class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar{{(i%7)+2}}.png" alt="" />
            {{client.nickname}}
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
              <div *ngIf="isClientTyping(client.id)" class="spinner-grow typing"></div>
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar6.png" alt="" />
          Bart
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="" />
          Ned Flanders
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar4.png" alt="" />
          Homer
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="" />
          Lisa
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar2.png" alt="" />
          Marge
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar6.png" alt="" />
          Millhouse
        </li>
        <li class="p-2">
          <img class="avatar" src="https://www.w3schools.com/bootstrap4/img_avatar5.png" alt="" />
          Moe
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="chatClient" class="col">
  <div id="content" >
    <h4 *ngFor="let chatMessage of messages">
      ({{chatMessage.sent | date: 'HH:mm'}}) {{chatMessage.sender.nickname}}: {{chatMessage.message}}
    </h4>

    <div class="text-center" style="color: #AAA">9. Marts 2021 kl. 21:21</div>
    <div class="media p-2">
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="mr-2 rounded-circle" style="width:35px;">
      <div class="" style="margin-top: 10px; padding: 8px 16px 12px 16px; background-color: #f2f8fc; border-radius: 5px 25px 25px 25px;">
        <span style="font-weight: bold;">John Doe</span><small style="margin-left: 8px; color: #AAA">23:55</small><br>
        <span>Anybody out there?</span><br>
      </div>
    </div>

    <div class="media p-2">
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="mr-2 rounded-circle" style="width:35px;">
      <div style="margin-top: 10px; padding: 8px 16px 12px 16px; background-color: #f2f8fc; border-radius: 5px 25px 25px 25px;">
        <span style="font-weight: bold;">John Doe</span><small style="margin-left: 8px; color: #AAA">23:55</small><br>
        <span style="">I am here bro, just fetched some coffee from the kitchen What are you up to?</span><br>
      </div>
    </div>

    <div class="media p-2">
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="mr-2 rounded-circle" style="width:35px;">
      <div class="" style="margin-top: 10px; padding: 8px 16px 12px 16px; background-color: #f2f8fc; border-radius: 5px 25px 25px 25px;">
        <span style="font-weight: bold;">John Doe</span><small style="margin-left: 8px; color: #aaaaaa">23:55</small><br>
        <span>Lorem ipsum...</span><br>
      </div>
    </div>

    <div class="media p-2 float-right">
      <div class="" style="margin-top: 10px; padding: 8px 16px 12px 16px; background-color: #bad6ec; border-radius: 25px 5px 25px 25px;">
        <span style="font-weight: bold; font-size: 16px">John Doe</span><small style="margin-left: 8px; color: #AAA">23:55</small><br>
        <span>Lorem ipsum... </span><br>
      </div>
      <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe" class="ml-2 rounded-circle" style="width:35px;">
    </div>
    <div class="clearfix"></div>

    <h5 *ngIf="clientsTyping.length === 0">&nbsp;</h5>
    <h5 *ngIf="clientsTyping.length === 1">
      <span *ngFor="let client of clientsTyping">{{client.nickname}}</span>
      skriver en besked
    </h5>
    <h5 *ngIf="clientsTyping.length === 2">
      <span *ngFor="let client of clientsTyping; let i = index">
        {{client.nickname}}{{i === clientsTyping.length - 1 ? '' : ' og '}}
      </span>
      skriver en besked
    </h5>
    <h5 *ngIf="clientsTyping.length > 2">
      <span *ngFor="let client of clientsTyping; let i = index">
        <span *ngIf="i < 3">{{client.nickname}}{{i < 2 ? ', ' : ''}}</span>
      </span>
      og {{clientsTyping.length - 3}} {{clientsTyping.length - 2 === 1 ? "anden" : "andre"}} skriver en besked
    </h5>
  </div>

  <div id="">


    <div class="input-group mb-3 mt-2">
      <input type="text" [formControl]="messageFc" class="form-control form-control-lg" placeholder="Indtast en besked">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">:)</button>
        <button class="btn btn-primary" type="button" (click)="sendMessage()">Send</button>
      </div>
    </div>



  </div>
    </div>
</div>
