<div class="container">
  <nav>
    <h1 class="logo"><a routerLink="/">Chats & Stocks</a></h1>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li>
        <a routerLink="/chat">Chat</a>
        <div class="tags">
          <span class="online" *ngIf="clients$ | async as clients">{{clients.length}} online</span>
          <span class="messages" *ngIf="unreadMessages > 0">{{unreadMessages}}+</span>
        </div>
      </li>
      <li><a routerLink="/stocks">Stocks</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
