<div class="wrapper shadow bg-white">
  <div class="container">
    <div *ngIf="stocks$ | async as stocks" class="flex-grid">
      <aside class="col sidebar">
        <h2>Stocks</h2>
        <ul>
          <li *ngFor="let stock of stocks"
              [class.selected]="stock === selectedStock"
              (click)="onSelect(stock)">
            <span class="name">{{stock.name}}</span><br>
            <span class="value">{{stock.value | number : '1.2-2' }}</span>
            <!--<span class="change">+4.48 (2.38%)</span>-->
          </li>
        </ul>
        <button class="btn btn-primary" routerLink="./create/">Create new stock</button>
      </aside>
      <section class="col main">
        <app-stock-detail [stock]="selectedStock"></app-stock-detail>
      </section>
    </div>
  </div>
</div>
