<div *ngIf="!stock">
  <h2>Please select a stock</h2>
</div>

<div *ngIf="stock">
  <h2>{{stock.name | uppercase}}</h2>
  <br>
  <h5>Description:</h5>{{stock.description}}
  <br>
  <br>
  <div><input class="form-control" style="width: 100px; float: left;" type="number" id="stockValue" value="{{stock.value | number : '1.2-2' }}">
    <button (click)="add()" class="btn btn-outline-primary ml-1">+</button>
    <button (click)="subtract()" class="btn btn-outline-primary ml-1">-</button>
    <button (click)="update()" class="btn btn-primary ml-3">Update</button>
  </div>
</div>

<h4 *ngIf="error" style="color: darkred">{{error}}</h4>
<div *ngIf="stockUpdate">
  Updated: {{stockUpdate | json}}
</div>
